{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    </head>
    <body>
        <form method="post">
        {% csrf_token %}
            Tags:<br>
            {% for tag in tag_form.tags %}
                {{ tag }}
            {% endfor %}
            <br>
            <br>
            Features:<br>
            {% for feature in features_form.features %}
                {{ feature }}
            {% endfor %}
            <br>
            <br>
            OS:<br>
            {% for operating_system in operating_systems_form.operating_systems %}
                {{ operating_system }}
            {% endfor %}
            <br>
            <br>
            {{ user_form }}
            <input type="submit" value="Submit">
        </form>

        {% render_table game_list %}
    This site is not affiliated with Valve, Steam, or any of their partners. All copyrights reserved to their respective owners.
    </body>
</html>
